<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js" integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT Sans">
    <link rel="stylesheet" href="/static/css/player.css">
    <link rel="stylesheet" href="/static/css/site-body.css">
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>
    <script src="/static/js/chat.js"></script>
    <title>Document</title>
</head>
<style>
    html {
        padding: 0px;
        margin: 0px;
        border: none;
    }
    body {
        width: 100%;
        height: 100vh;
        padding: 0;
        margin: 0;
        border: none;
    }
    .body-container {
        width: 100%;
        height: 100%;
    }
</style>
<body>
    <div class="body-container">
        <div class="site-body">
            <div class="leftPane">
                <div class="roomInfoPane">
                    <div class="roomInfoPaneContainer">
                        <p id="roomName">Room ID:</p>
                        <p id="roomID"></p>
                    </div>
                </div>
                <div class="roomLobyPane">
                    <h2>People In the Lobby:</h2>
                    <!-- <div class="roomLobyEntity">
                        <img src="/static/dp.jpg" alt="">
                        <div class="roomLobyEntityInfo">
                            <p>Name</p>
                            <p>Status</p>
                        </div>
                    </div> -->
                    
                </div>
            </div>
            <div class="midPane">
                <div class="songSearchBar">
                    <input type="text" list="songList" id="songSearchInput" placeholder="Search Song">
                    <datalist id="songList">
                    </datalist>
                    <!-- <button>Search</button> -->
                </div>
                <div class="chatArea">
                </div>
                <div class="chatTextPane">                    
                    <input type="text" placeholder="Enter Your Message" id="sndMsgText">
                    <button id="sndMsgBtn">Send</button>
                </div>
            </div>
            <div class="rightPane">
                <h2>Playlist :</h2>
            </div>
        </div>
        <div class="player">
            <input type="range" min="1" max="1000" value="1" class="seek-slider" id="range">
            <div  class="player-controls">
                <div class="player-mediaInfo">
                    <div class="player-mediaInfoBox">
                        <img id="player-songCover" src="/static/dp.jpg">
                        <div class="player-mediaInfoText">
                            <p id="player-songName">Name of The Song</p>
                            <p id="player-albumName">Album Name</p>
                        </div>
                    </div>
                </div>
                <div class="player-mainControls">
                    <div class="player-playcontrols">
                        <img src="/static/icons/backward.svg" id="player-back-btn">
                        <img src="/static/icons/play.svg" id="player-playpause-btn">
                        <img src="/static/icons/forward.svg" id="player-next-btn">
                    </div>
                </div>
                <div class="player-otherControls"></div>
            </div>
        </div>
    </div>
    <audio hidden id="audioPlayer"></audio>
</body>
<script src="/static/js/roomView.js"></script>
<script src="/static/js/session.js"></script>
<script src="/static/js/lobbyUI.js"></script>
<script src="/static/js/chatUI.js"></script>
<script src="/static/js/song.js"></script>
<script src="/static/js/player.js"></script>
</html>